
.window {
  height: 100%;
  text-align: center;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}

h1 {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 50px;
  text-transform: none;
  color: #FFFFFF;
}

h4 {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 50px;
  text-transform: none;
  color: #FFFFFF;
}

p {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 50px;
  text-transform: none;
  color: #000000;
}

.progress-bar {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 50px;
  text-transform: none;
  color: #FFFFFF;
}

.logo {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 50px;
  text-transform: none;
  color: #FFFFFF;
}

.navbar {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 50px;
  text-transform: none;
  color: #FFFFFF;
}

.card_row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card_column {
  flex: 33.33%;
  padding: 5px;
  transition: transform .2s;
}

.card_column:hover {
  transform: scale(1.09);
}

.artist_submit {
  width: 30%;
  height: 36px;
  font-size: 100%;
}

.click-artist {
  flex: 33.33%;
  padding: 5px;
  transition: transform .2s;
}

.click-artist:hover {
  transform: scale(1.1)
}



.guess_form {
  width: 30%;
  height: 30px;
  font-size: 100%;
}

.guess_submit {
  width: 15%;
  height: 36px;
  font-size: 100%;
}
